<section class="relative h-[98vh] w-full">
  <!-- Fullscreen Background Video -->
  <video autoplay muted loop playsinline class="absolute left-0 top-0 z-0 h-full w-full object-cover">
    <source src="assets/videos/test.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <!-- Overlay -->
  <div class="absolute inset-0 z-10 bg-black bg-opacity-50"></div>

  <!-- Content -->
  <div class="relative z-20 flex h-full flex-col items-center justify-center px-4 text-center">
    <h1 class="title-primary-first">{{ 'MAIN.HERO.TITLE' | translate }}</h1>
    <p class="content-primary-first w-4/5 py-10">{{ 'MAIN.HERO.CONTENT' | translate }}</p>
    <button routerLink="/contact" class="btn-primary-unfilled !text-4xl !font-medium">{{ 'MAIN.HERO.SERVICES_BUTTON' | translate }}</button>
  </div>

  <!-- Scroll Indicator -->
  <div class="absolute bottom-6 left-1/2 z-20 -translate-x-1/2 animate-bounce">
    <mat-icon (click)="scrollDown()" svgIcon="down-arrow" class="navigation-hover h-6 w-6 cursor-pointer"></mat-icon>
  </div>
</section>
