<div class="card justify-content-center flex">
  <p-dropdown [options]="languages" [(ngModel)]="selectedLanguage" optionLabel="name" (onChange)="onLangChange($event.value.value)">
    <ng-template pTemplate="selectedItem">
      <div class="flex gap-8 text-center align-middle text-secondary-600" *ngIf="selectedLanguage">
        <mat-icon svgIcon="{{ selectedLanguage.value }}"></mat-icon>
        <span class="whitespace-nowrap">{{ selectedLanguage.label | translate }}</span>
      </div>
    </ng-template>
    <ng-template let-selectedLanguage pTemplate="item">
      <div class="flex gap-8 text-center align-middle">
        <mat-icon svgIcon="{{ selectedLanguage.value }}"></mat-icon>
        <span class="whitespace-nowrap">{{ selectedLanguage.label | translate }}</span>
      </div>
    </ng-template>
  </p-dropdown>
</div>
