<section class="main-container-outer">
  <div class="main-container">
    <h2 class="title-primary-first p-4">{{ 'PRIVACY_POLICY.TITLE' | translate | uppercase }}</h2>
    <div class="py-4" *ngFor="let item of content; let i = index">
      <h3 class="title-primary-second">{{ i + 1 }}. {{ item.titleKey | translate }}</h3>
      <p class="content-primary-first">{{ item.contentKey | translate }} <a *ngIf="i === 6" href="mailto:toman.bus@gmail.com" class="content-primary-hover"> toman.bus@gmail.com</a> <span *ngIf="i===6">.</span></p>
    </div>
  </div>
</section>
