<section id="services" class="main-container-outer">
  <div class="main-container">
    <h1 class="title-primary-second pb-8">{{ 'ABOUT_US.TITLE' | translate }}</h1>
    <p class="content-primary-first py-8">{{ 'ABOUT_US.CONTENT_FIRST' | translate }}</p>
    <p class="content-primary-first py-8">{{ 'ABOUT_US.CONTENT_SECOND' | translate }}</p>
    <p class="content-primary-first py-8">{{ 'ABOUT_US.CONTENT_THIRD' | translate }}</p>
    <p class="content-primary-first py-8">{{ 'ABOUT_US.CONTENT_FORTH' | translate }}</p>
    <p class="content-primary-first py-8">{{ 'ABOUT_US.CONTENT_FIFTH' | translate }}</p>
  </div>
</section>
