<section id="services" class="main-container-outer">
  <div class="main-container text-center">
    <h3 class="title-secondary-third">
      {{ 'MAIN.SERVICES.SUBTITLE' | translate }}
    </h3>
    <h2 class="title-primary-first">
      {{ 'MAIN.SERVICES.TITLE' | translate }}
    </h2>
    <div class="w-full p-6">
      <div class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:px-12 lg:grid-cols-3 2xl:grid-cols-6">
        <app-service-card *ngFor="let card of cards" [card]="card"> </app-service-card>
      </div>
    </div>
  </div>
</section>
