<div
  *ngIf="card"
  class="flex h-[420px] w-64 flex-col items-center justify-between p-4 text-center transition-all duration-200 hover:scale-105 hover:shadow-[0_0_20px_0] hover:shadow-secondary-300 sm:h-[460px] sm:w-72 sm:p-6 md:h-[500px] md:w-80 lg:h-[480px] lg:w-72 xl:w-80"
>
  <mat-icon class="!h-14 !w-14 text-primary-500 sm:!h-16 sm:!w-16 md:!h-20 md:!w-20" svgIcon="{{ card.icon }}"></mat-icon>
  <h2 class="title-secondary-second h-20 py-2 sm:h-[100px]">
    {{ card.title | translate }}
  </h2>
  <p class="content-primary-second my-4 sm:my-6">
    {{ card.content | translate }}
  </p>
</div>
